

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/Theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <style>
        .apexcharts-canvas {
            margin: 0 auto;
        }
    </style>

</head>
<body class="sidebar-noneoverflow" data-spy="scroll" data-target="#navSection" data-offset="140">

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <ul class="navbar-nav theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="~/Theme/assets/img/90x90.jpg" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link"> آمادئوس  </a>
                </li>
                <li class="nav-item toggle-sidebar">
                    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg></a>
                </li>
            </ul>
            <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="userProfileDropdown">
                <div class="user-profile-section">
                    <div class="media mx-auto">
                        <img src="~/Theme/assets/img/90x90.jpg" class="img-fluid mr-2" alt="avatar">
                        <div class="media-body">
                            <h5> کاربر</h5>
                            <p>مدیر پروژه</p>
                        </div>
                    </div>
                </div>
            </div>

        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>
        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            <nav id="sidebar">
                <div class="profile-info">
                    <figure class="user-cover-image"></figure>
                    <div class="user-info">
                        <img src="~/Theme/assets/img/90x90.jpg" alt="avatar">
                        <h6 class=""> کاربر  </h6>
                        <p class="">مدیر پروژه</p>
                    </div>
                </div>
              
                <div class="mb-1">
                    <a asp-controller="Confirm" asp-action="InConfirmComments" asp-area="Admin" class="btn btn-primary btn-block">کامنت های تایید نشده</a>
                </div>
                <div class="mb-1">
                    <a asp-controller="Confirm" asp-action="InConfirmProducts" asp-area="Admin" class="btn btn-primary btn-block">کالاهای های تایید نشده</a>
                </div>
                <div class="mb-1">
                    <a asp-controller="Commission" asp-action="Index" asp-area="Admin" class="btn btn-primary btn-block">فروشنده ها</a>
                </div>
                <div class="mb-1">
                    <a asp-controller="Product" asp-action="Index" asp-area="Admin" class="btn btn-primary btn-block">ویرایش و حذف کالا</a>
                </div>
                <div class="mb-1">
                    <a asp-controller="Booth" asp-action="Index" asp-area="Admin" class="btn btn-primary btn-block">ویرایش و حذف غرفه</a>
                </div>
            </nav>
        </div>
        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            @RenderBody()
        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class=""> © کپی رایت</p>
            </div>
            <div class="footer-section f-section-2">
                <span class="copyright">کلیه حقوق این سایت متعلق به  : <a href="https://bugeto.net"> آمادئوس </a>  می باشد</span>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->
    <!-- END MAIN CONTAINER -->
    <!--  BEGIN FOOTER  -->
    <!--  END FOOTER  -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Theme/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Theme/bootstrap/js/popper.min.js"></script>
    <script src="~/Theme/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Theme/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Theme/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/Theme/plugins/highlight/highlight.pack.js"></script>
    <script src="~/Theme/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>