@model List<Domin.IRepositories.Dtos.ImageForProductRepDto>
@{
    ViewData["Tittle"] = "پنل فروشنده";
}
<div class="row m-2">
    @foreach (var imageUrl in Model)
    {
        <div class="card component-card_2 col-3  text-center">
            <img src="@imageUrl.Url" class="img-fluid">
            <p>@imageUrl.Product.Name</p>
            <div class="card-body">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@imageUrl.ProductId" class="btn btn-primary btn-block">برو ببینم چیه</a>
            </div>
        </div>
    }
</div>

