@model IEnumerable<WebSite.EndPoint.Models.ViewModels.CartGetVM>

@{
    ViewData["Title"] = "MyCartsUnRegistered";
    Layout = "/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-secondary m-5 text-center"> سبد خریدهای پرداخت نشده</div>
<div class="row">

    <div class="table-responsive m-5 col-10">
        <table class="table table-bordered table-hover table-condensed mb-4">
            <thead>
                <tr>
                    <th>
                        مجموع مبلغ
                    </th>
                    <th>
                        نام غرفه ی فروشنده
                    </th>
                    <th>
                        نام محصولات
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrices)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoothName)
                        </td>
                        <td>
                            @foreach (var product in item.ProductsNames)
                            {
                                @Html.DisplayFor(modelItem => product) <i>,</i>
                            }

                        </td>
                        <td>
                            @Html.ActionLink("پرداخت", "DoRegisteringCart", new {  cartId=item.Id  })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
