@model List<WebSite.EndPoint.Areas.Admin.Models.BoothVM>
@{
    ViewData["Title"] = "GetBoothByCategoryId";
}

<div class="row m-4 justify-content-center flex flex-wrap">
    @foreach (var booth in Model)
    {
        <a asp-controller="Booth" asp-action="EnterToBooth" asp-route-boothId="@booth.Id" class="col-12 col-sm-6 col-md-4 m-4 mx-auto">
            <div class="card component-card_2 text-center">
                <img src="~/Shop/@(booth.Id).jpg" class="img-fluid" style="height: 250px" />
                <div class="card-header">
                    <h4 style="font-family: Vazir;">فروشگاهِ : @booth.Name</h4>
                </div>
                <div class="card-body">
                    <p>@booth.Description</p>
                </div>
                <div class="card-footer">
                    <p style="color: grey"> غرفه دار : @booth.Seller</p>
                </div>
            </div>
        </a>
    }
</div>